<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @scaffold.Comment %>
</p>

<p>
  <strong>Post:</strong>
  <%= @scaffold.post %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @scaffold.reference %>
</p>

<p>
  <strong>Body:</strong>
  <%= @scaffold.body %>
</p>

<p>
  <strong>Text:</strong>
  <%= @scaffold.text %>
</p>

<%= link_to 'Edit', edit_scaffold_path(@scaffold) %> |
<%= link_to 'Back', scaffolds_path %>
